<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>House Price Prediction - Kaggle</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	Lot size in square feet: 
	<input type="text" name="LotArea" placeholder="LotArea" required="required" />
	<br>
	$Value of miscellaneous feature: 
        <input type="text" name="MiscVal" placeholder="$MiscVal" required="required" />
	<br>  
	Second floor square feet: 
	<input type="text" name="2ndFlrSF" placeholder="2ndFlrSF" required="required" />
	<br>
	Type 1 finished square feet: 
	<input type="text" name="BsmtFinSF1" placeholder="BsmtFinSF1" required="required" />
	<br>
	Pool area in square feet: 
	<input type="text" name="PoolArea" placeholder="PoolArea" required="required" />
        <br><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
